*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;

}

.to-do{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.to-do input{
    width: 285px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(3, 45, 45);
    padding-inline: 5px
    ;
}

.to-do input:focus{
    outline: none;
    background-color: rgb(184, 230, 230);
    border: rgb(198, 255, 255);
}

.input-div div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 24px;

}

.input-div div{
    margin-top: 10px;
}

button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(161, 13, 13);
    color: white;
    font-size: 17px;

}

.add-btn{
    background-color: rgb(80, 128, 7);
     color: white;
}



span{
    
}